@model ServiceMonitor.Models.Performer.PerformerCreateNewCustomer

@{
    ViewBag.Title = "AddClient";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 class="title" style="text-align:center">Dodawanie nowego klienta</h2>


<div class="container" style="margin-top:5%">
    <div class="col-xs-12">
    @using (Html.BeginForm("AddClient"))
    {
        <table style="margin:auto">
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Name, "Imię", new { style = "font-weight: bold;" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control transparent" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => x.VoivodershipId, "Wojewodzctwo", new { style = "font-weight: bold;" })
                        @Html.DropDownListFor(x => x.VoivodershipId, new SelectList(Model.Voivoderships, "Id", "DisplayName"), "Wybierz ", new { value = 0, @class = "form-control transparent" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Street, "Ulica", new { style = "font-weight: bold;" })
                        @Html.TextBoxFor(x => x.Street, new { @class = "form-control transparent" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LastName, "Nazwisko", new { style = "font-weight: bold;" })
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control transparent" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CountyId, "Powiat", new { style = "font-weight: bold;" })
                        @Html.DropDownListFor(x => x.CountyId, Enumerable.Empty<SelectListItem>(), "wybierz", new { @class = "form-control transparent" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => x.HouseNumber, "Numer domu/mieszkania", new { style = "font-weight: bold;" })
                        @Html.TextBoxFor(x => x.HouseNumber, new { @class = "form-control transparent" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => x.PhoneNumber, "Numer telefonu", new { style = "font-weight: bold;" })
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control transparent" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CommuneId, "Gmina", new { style = "font-weight: bold;" })
                        @Html.DropDownListFor(x => x.CommuneId, Enumerable.Empty<SelectListItem>(), "Wybierz ", new { @class = "form-control transparent" })
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LocalityId, "Miejscowość", new { style = "font-weight: bold;" })
                        @Html.DropDownListFor(x => x.LocalityId, Enumerable.Empty<SelectListItem>(), "Wybierz ", new { @class = "form-control transparent" })
                    </div>
                </td>
                <td></td>
            </tr> 
            <tr>
                <td></td>
                <td></td>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button type="submit" class="btn transparent float-left" >Zapisz</button>
                    <button class="btn transparent float-right">@Html.ActionLink("Anuluj", "WorkList2", "Performer", new { style = "color:black" })</button>

                </td>
            </tr> 
        </table>
        }
    </div>
</div>

<script>
    $(document).ready(function() {

        $("#VoivodershipId").change(function() {

            $('#CountyId').empty();
            $('#CommuneId').empty();
            $('#LocalityId').empty();

            var value = $("#VoivodershipId").val();
            $.ajax({
                type: 'get',
                url: '@Url.Action("GetCounty", "Performer")',
                data: { idVoivodeship: value },
                success: function(data) {

                    var tmp = $("#CountyId");
                    for (var val in data) {
                        $('<option />', { value: data[val].Id, text: data[val].DisplayName }).appendTo(tmp);
                    }
                },
                error: function(data) { console.log("Error"); }
            });
        });
            
            $("#CountyId").change(function () {

                $('#CommuneId').empty();
                $('#LocalityId').empty();

                var value = $("#CountyId").val();
                console.log(value);
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("GetCommune", "Performer")',
                    data: { idCounty: value },
                    success: function (data) {

                        var tmp = $("#CommuneId");
                        for (var val in data) {
                            $('<option />', { value: data[val].Id, text: data[val].DisplayName }).appendTo(tmp);
                        }

                        tmp.trigger('change');//symuluje click
                    },
                    error: function (data) { console.log("Error"); }
                });
            });
            
            $("#CommuneId").change(function () {

                $('#LocalityId').empty();
                var value = $("#CommuneId").val();
                console.log(value);
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("GetLocality", "Performer")',
                    data: { idCommune: value },
                    success: function (data) {

                        var tmp = $("#LocalityId");
                        for (var val in data) {
                            $('<option />', { value: data[val].Id, text: data[val].DisplayName }).appendTo(tmp);
                        }
                    },
                    error: function (data) { console.log("Error"); }
                });
            });
            
        });
        
</script>